body {
    font-family: Inter;
}

.btn-pink {
    color: #fff;
    background-color: #F5497D;
    border: #2E2F35 2px solid;
    border-radius: 13px;
    box-shadow: 3px 3px 0px 0px #2E2F35;
}

.btn-pink:hover {
    color: #fff;
    background-color: #ff69b4;
    border-color: #ff69b4;
    box-shadow: 0px 0px 0px 0px #2E2F35;
}

.btn-white {
    color: #2E2F35;
    background-color: #FFF;
    border: #2E2F35 2px solid;
    border-radius: 13px;
    box-shadow: 3px 3px 0px 0px #2E2F35;
}

.btn-white:hover {
    color: #2E2F35;
    background-color: #FFF;
    border: #2E2F35 2px solid;
    box-shadow: 0px 0px 0px 0px #2E2F35;
}
  
.font-navbar {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
