.jumbotron-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation .nav-item-custom {
    margin-right: 10px;
}

.navigation .nav-link-custom {
    color: #2E2F35;
    border: 0px solid #6c757d;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
}

.navigation .nav-link-custom.active {
    color: #fff;
    border: 1px solid #2E2F35;
    background-color: #ff4081;
    border-color: #2E2F35;
    box-shadow: 3px 3px 0px 0px #2E2F35;
}

.navigation .nav-link-custom.active:hover {
    color: #ffffff;
    background-color: #ff4081;
    border-color: #ff4081;
    box-shadow: 0px 0px 0px 0px #2E2F35;
}
.navigation .nav-link-custom:hover {
    color: #ffffff;
    background-color: #ff4081;
    border-color: #ff4081;
    box-shadow: 3px 3px 0px 0px #2E2F35;
}
